:root{
  --lightColor:  #7fb5ca;
  --darkColor: #21576d;
  --lightText: #99dbf5;
}
body{

  width:100%;
  



}
.background-spacing{
  padding-top: 50px;

}
.body-background{
  background-image:url('./background-images/Trailside_2.jpg');
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: 0 -50px;
  /* background-position: 0 calc(1vw + 50px);; */
  width: 100%;
  
  background-size:cover;
  
}

.background-overlay{
  background-color: rgba(0,0,0,.7);
  width: 100%;
  height: 100%;
}
@media(max-width: 768px){
  .body-background{
    background-image:url('./background-images/gravel.png');
    background-position: 0;
    background-repeat: repeat;
  }
  .background-overlay{
    background-color: rgb(241, 230, 72 ,.3);
  }
}
.HomeImages{
  width:  30vw;
  min-width: 170px;

}
.text-title{
  font-family: 'Rock Salt', cursive;
  letter-spacing: .3rem;
  text-transform: uppercase;
}
.article-text{
  font-size: calc(.5vw + 10px);
}
.article-title{
  padding: .75vw;
  line-height: 1.8;
  font-family: 'Rock Salt', cursive;
  font-size: calc(1vw + 8px);
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.main-body{
  padding-top: 50px;

}
