:root{
  --lightColor: #8cfffb;
  --darkColor: #355c5a;
  --lightText: #ecfffe;
}
body{
  background-image: url("./background-images/double-bubble.png") !important;
}
.HomeImages{
  width:  30vw;
  min-width: 170px;

}
.text-title{
  font-family: 'Rock Salt', cursive;
  letter-spacing: .3rem;
  text-transform: uppercase;
}
.article-text{
  font-size: calc(.5vw + 10px);
}
.article-title{
  padding: .75vw;
  line-height: 1.8;
  font-family: 'Rock Salt', cursive;
  font-size: calc(1vw + 8px);
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
}
